<template lang="pug">
	button(type="button", class="{ type }", on:click): slot
</template>

<script lang="ts">
	export let type: string = 'default';
</script>

<style lang="scss">
	button {
		--button-color: var(--color-bg);
		--text-color: var(--color-fg);
		--transition: var(--default-animation-duration) linear;

		padding: 1em;
		border-radius: var(--default-border-radius);
		border-width: 0.25em;
		border-color: var(--button-color);
		background-color: var(--button-color);
		color: var(--text-color);
		cursor: pointer;

		&.primary {
			--button-color: var(--color-theme);
		}

		&.accent {
			--button-color: var(--color-accent);
		}

		&.success,
		&.danger { --text-color: var(--color-lightest); }

		&.success {
			--button-color: var(--color-success);
		}

		&.warn {
			--button-color: var(--color-warn);
			--text-color: var(--color-darkest);
		}

		&.danger {
			--button-color: var(--color-danger);
		}
	}
</style>
