<template lang="pug">
	fieldset.checkbox-list
		legend: slot(name="legend") { legend }
		div.instructions: slot(name="instructions")
		div.options
			| {#each options as option }
			label
				input(
					type="checkbox",
					name="{ name }",
					value="{ option.value }",
					bind:group="{ value }"
				)
				span { option.label }
			| {/each}
</template>

<script lang="ts">
	import { dashCase } from '~/utilities/string.utilities';
	import type { IOption } from '~/models/option.model';

	export let legend: string;
	export let options: IOption[];
	export let value: (string|number|boolean)[];

	const name = dashCase(legend);
</script>

<style lang="scss">
	fieldset.checkbox-list {
		border: none;
		padding: 0;
		
		legend {
			text-transform: uppercase;
			font-weight: 500;
		}
		
		div.options {
			border: 0.125rem solid var(--color-bg);
			border-radius: var(--default-border-radius);
			display: flex;
			flex-direction: column;
			padding: 1em;

			label {
				cursor: pointer;
				margin: 0.75em 0;
				font-size: 0.85em;
				display: flex;
				align-items: center;
				gap: 1em;

				input[type="checkbox"] {
					height: 2em;
					width: 2em;
				}
			}
		}
	}
</style>
