<template lang="pug">
	div.select
		label(for="{ name }"): slot(name="label") { name }
		div.instructions: slot(name="instructions")
		select(bind:value)
			| {#each options as option}
			option(value="{ option.value }") { option.label }
			| {/each}
</template>

<script lang="ts">
	import type { IOption } from '~/models/option.model';

	export let name: string;
	export let options: IOption[];
	export let value: string|number|boolean;
</script>

<style lang="scss">
	div.select {
		display: flex;
		flex-direction: column;

		label {
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 0.5em;
		}

		select {
			padding: 1em;
			border-radius: var(--default-border-radius);
			border-color: var(--color-bg);
			cursor: pointer;
		}
	}
</style>
