@import "./reset";
@import "./variables/color";
@import "./variables/animation";
@import "./typography";

:root {
	// Border Radiuses
	--default-border-radius: 0.5rem;
}

html {
	font-size: 100%;
	font-family: Inter, system;
}

body {
	--color-fg: #{$color-lightest};
	--color-bg: #{$color-darkest};
	--color-darkest: #303030;
	--color-dark: #555;
	--color-medium: #808080;
	--color-light: #b6b6b6;
	--color-lightest: #ececec;
	--color-accent: #999;

	padding: 1rem;
	color: var(--color-fg);
	background-color: var(--color-theme);

	&.version-red {
		--color-theme: #{$color-version-red};
		--color-accent: #{$color-version-red-accent};
		--color-success: #{$color-version-red-success};
		--color-warn: #{$color-version-red-warn};
		--color-danger: #{$color-version-red-danger};
	}
	
	&.version-blue {
		--color-theme: #{$color-version-blue};
		--color-accent: #{$color-version-blue-accent};
		--color-success: #{$color-version-blue-success};
		--color-warn: #{$color-version-blue-warn};
		--color-danger: #{$color-version-blue-danger};
	}
	
	&.version-yellow {
		--color-theme: #{$color-version-yellow};
		--color-accent: #{$color-version-yellow-accent};
		--color-success: #{$color-version-yellow-success};
		--color-warn: #{$color-version-yellow-warn};
		--color-danger: #{$color-version-yellow-danger};
	}
	
	&.version-gold {
		--color-theme: #{$color-version-gold};
		--color-accent: #{$color-version-gold-accent};
		--color-success: #{$color-version-gold-success};
		--color-warn: #{$color-version-gold-warn};
		--color-danger: #{$color-version-gold-danger};
	}
	
	&.version-silver {
		--color-theme: #{$color-version-silver};
		--color-accent: #{$color-version-silver-accent};
		--color-success: #{$color-version-silver-success};
		--color-warn: #{$color-version-silver-warn};
		--color-danger: #{$color-version-silver-danger};
	}
	
	&.version-crystal {
		--color-theme: #{$color-version-crystal};
		--color-accent: #{$color-version-crystal-accent};
		--color-success: #{$color-version-crystal-success};
		--color-warn: #{$color-version-crystal-warn};
		--color-danger: #{$color-version-crystal-danger};
	}
	
	&.version-ruby {
		--color-theme: #{$color-version-ruby};
		--color-accent: #{$color-version-ruby-accent};
		--color-success: #{$color-version-ruby-success};
		--color-warn: #{$color-version-ruby-warn};
		--color-danger: #{$color-version-ruby-danger};
	}
	
	&.version-sapphire {
		--color-theme: #{$color-version-sapphire};
		--color-accent: #{$color-version-sapphire-accent};
		--color-success: #{$color-version-sapphire-success};
		--color-warn: #{$color-version-sapphire-warn};
		--color-danger: #{$color-version-sapphire-danger};
	}
	
	&.version-emerald {
		--color-theme: #{$color-version-emerald};
		--color-accent: #{$color-version-emerald-accent};
		--color-success: #{$color-version-emerald-success};
		--color-warn: #{$color-version-emerald-warn};
		--color-danger: #{$color-version-emerald-danger};
	}
	
	&.version-firered {
		--color-theme: #{$color-version-firered};
		--color-accent: #{$color-version-firered-accent};
		--color-success: #{$color-version-firered-success};
		--color-warn: #{$color-version-firered-warn};
		--color-danger: #{$color-version-firered-danger};
	}
	
	&.version-leafgreen {
		--color-theme: #{$color-version-leafgreen};
		--color-accent: #{$color-version-leafgreen-accent};
		--color-success: #{$color-version-leafgreen-success};
		--color-warn: #{$color-version-leafgreen-warn};
		--color-danger: #{$color-version-leafgreen-danger};
	}
	
	&.version-diamond {
		--color-theme: #{$color-version-diamond};
		--color-accent: #{$color-version-diamond-accent};
		--color-success: #{$color-version-diamond-success};
		--color-warn: #{$color-version-diamond-warn};
		--color-danger: #{$color-version-diamond-danger};
	}
	
	&.version-pearl {
		--color-theme: #{$color-version-pearl};
		--color-accent: #{$color-version-pearl-accent};
		--color-success: #{$color-version-pearl-success};
		--color-warn: #{$color-version-pearl-warn};
		--color-danger: #{$color-version-pearl-danger};
	}
	
	&.version-platinum {
		--color-theme: #{$color-version-platinum};
		--color-accent: #{$color-version-platinum-accent};
		--color-success: #{$color-version-platinum-success};
		--color-warn: #{$color-version-platinum-warn};
		--color-danger: #{$color-version-platinum-danger};
	}
	
	&.version-heartgold {
		--color-theme: #{$color-version-heartgold};
		--color-accent: #{$color-version-heartgold-accent};
		--color-success: #{$color-version-heartgold-success};
		--color-warn: #{$color-version-heartgold-warn};
		--color-danger: #{$color-version-heartgold-danger};
	}
	
	&.version-soulsilver {
		--color-theme: #{$color-version-soulsilver};
		--color-accent: #{$color-version-soulsilver-accent};
		--color-success: #{$color-version-soulsilver-success};
		--color-warn: #{$color-version-soulsilver-warn};
		--color-danger: #{$color-version-soulsilver-danger};
	}
	
	&.version-black {
		--color-theme: #{$color-version-black};
		--color-accent: #{$color-version-black-accent};
		--color-success: #{$color-version-black-success};
		--color-warn: #{$color-version-black-warn};
		--color-danger: #{$color-version-black-danger};
	}
	
	&.version-white {
		--color-theme: #{$color-version-white};
		--color-accent: #{$color-version-white-accent};
		--color-success: #{$color-version-white-success};
		--color-warn: #{$color-version-white-warn};
		--color-danger: #{$color-version-white-danger};
	}
	
	&.version-black-2 {
		--color-theme: #{$color-version-black-2};
		--color-accent: #{$color-version-black-2-accent};
		--color-success: #{$color-version-black-2-success};
		--color-warn: #{$color-version-black-2-warn};
		--color-danger: #{$color-version-black-2-danger};
	}
	
	&.version-white-2 {
		--color-theme: #{$color-version-white-2};
		--color-accent: #{$color-version-white-2-accent};
		--color-success: #{$color-version-white-2-success};
		--color-warn: #{$color-version-white-2-warn};
		--color-danger: #{$color-version-white-2-danger};
	}
	
	&.version-x {
		--color-theme: #{$color-version-x};
		--color-accent: #{$color-version-x-accent};
		--color-success: #{$color-version-x-success};
		--color-warn: #{$color-version-x-warn};
		--color-danger: #{$color-version-x-danger};
	}
	
	&.version-y {
		--color-theme: #{$color-version-y};
		--color-accent: #{$color-version-y-accent};
		--color-success: #{$color-version-y-success};
		--color-warn: #{$color-version-y-warn};
		--color-danger: #{$color-version-y-danger};
	}
	
	&.version-omega-ruby {
		--color-theme: #{$color-version-omega-ruby};
		--color-accent: #{$color-version-omega-ruby-accent};
		--color-success: #{$color-version-omega-ruby-success};
		--color-warn: #{$color-version-omega-ruby-warn};
		--color-danger: #{$color-version-omega-ruby-danger};
	}
	
	&.version-alpha-sapphire {
		--color-theme: #{$color-version-alpha-sapphire};
		--color-accent: #{$color-version-alpha-sapphire-accent};
		--color-success: #{$color-version-alpha-sapphire-success};
		--color-warn: #{$color-version-alpha-sapphire-warn};
		--color-danger: #{$color-version-alpha-sapphire-danger};
	}
	
	&.version-sun {
		--color-theme: #{$color-version-sun};
		--color-accent: #{$color-version-sun-accent};
		--color-success: #{$color-version-sun-success};
		--color-warn: #{$color-version-sun-warn};
		--color-danger: #{$color-version-sun-danger};
	}
	
	&.version-moon {
		--color-theme: #{$color-version-moon};
		--color-accent: #{$color-version-moon-accent};
		--color-success: #{$color-version-moon-success};
		--color-warn: #{$color-version-moon-warn};
		--color-danger: #{$color-version-moon-danger};
	}
	
	&.version-ultra-sun {
		--color-theme: #{$color-version-ultra-sun};
		--color-accent: #{$color-version-ultra-sun-accent};
		--color-success: #{$color-version-ultra-sun-success};
		--color-warn: #{$color-version-ultra-sun-warn};
		--color-danger: #{$color-version-ultra-sun-danger};
	}
	
	&.version-ultra-moon {
		--color-theme: #{$color-version-ultra-moon};
		--color-accent: #{$color-version-ultra-moon-accent};
		--color-success: #{$color-version-ultra-moon-success};
		--color-warn: #{$color-version-ultra-moon-warn};
		--color-danger: #{$color-version-ultra-moon-danger};
	}
	
	&.version-lets-go-pikachu {
		--color-theme: #{$color-version-lets-go-pikachu};
		--color-accent: #{$color-version-lets-go-pikachu-accent};
		--color-success: #{$color-version-lets-go-pikachu-success};
		--color-warn: #{$color-version-lets-go-pikachu-warn};
		--color-danger: #{$color-version-lets-go-pikachu-danger};
	}
	
	&.version-lets-go-eevee {
		--color-theme: #{$color-version-lets-go-eevee};
		--color-accent: #{$color-version-lets-go-eevee-accent};
		--color-success: #{$color-version-lets-go-eevee-success};
		--color-warn: #{$color-version-lets-go-eevee-warn};
		--color-danger: #{$color-version-lets-go-eevee-danger};
	}
	
	&.version-sword {
		--color-theme: #{$color-version-sword};
		--color-accent: #{$color-version-sword-accent};
		--color-success: #{$color-version-sword-success};
		--color-warn: #{$color-version-sword-warn};
		--color-danger: #{$color-version-sword-danger};
	}
	
	&.version-shield {
		--color-theme: #{$color-version-shield};
		--color-accent: #{$color-version-shield-accent};
		--color-success: #{$color-version-shield-success};
		--color-warn: #{$color-version-shield-warn};
		--color-danger: #{$color-version-shield-danger};
	}
	
	&.version-colosseum {
		--color-theme: #{$color-version-colosseum};
		--color-accent: #{$color-version-colosseum-accent};
		--color-success: #{$color-version-colosseum-success};
		--color-warn: #{$color-version-colosseum-warn};
		--color-danger: #{$color-version-colosseum-danger};
	}
	
	&.version-xd {
		--color-theme: #{$color-version-xd};
		--color-accent: #{$color-version-xd-accent};
		--color-success: #{$color-version-xd-success};
		--color-warn: #{$color-version-xd-warn};
		--color-danger: #{$color-version-xd-danger};
	}
	
	// Themes with dark text
	&.version-yellow,
	&.version-gold,
	&.version-leafgreen,
	&.version-pearl,
	&.version-soulsilver,
	&.version-white,
	&.version-white-2,
	&.version-ultra-sun,
	&.version-lets-go-pikachu,
	&.version-lets-go-eevee {
		--color-fg: #{$color-darkest};
		--color-bg: #{$color-lightest};
	}

	&.locked {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}
}

.flex-spacer { flex-grow: 1; }

a {
	color: currentColor;
	text-decoration: none;

	&:hover,
	&:active { text-decoration: underline; }
}
