<template lang="pug">
	div.card: slot
</template>

<style lang="scss">
	div.card {
		background-color: var(--color-fg);
		color: var(--color-bg);
		border-radius: calc(1.5 * var(--default-border-radius));
		box-shadow: 0 0.7rem 1.4rem rgba(0,0,0,0.19), 0 0.4rem 0.4rem rgba(0,0,0,0.23);
		overflow: hidden;
	}
</style>
