<template lang="pug">
	DefaultLayout
		h1 Collection
		div.summary-stats
			h2 Quick Stats
			p
				| You've caught&nbsp;
				span.collection-count { thisVersionPokemon.length }
				| &nbsp;Pokémon in this game.
			p
				| You've caught&nbsp;
				span.collection-count { $caughtPokemon.length }
				| &nbsp;Pokémon in all games.
		div.collection
			h2 Pokémon { versionDisplayName }
			ul.pokemon-list
				| {#each thisVersionPokemon as caughtPokemon (caughtPokemon.caught) }
				li(out:slide="{ {} }"): CaughtPokemonSummary({ caughtPokemon }, includeVersion="{ false }")
				| {/each}
		div.collection
			h2 Other Versions
			ul.pokemon-list
				| {#each otherVersionPokemon as caughtPokemon (caughtPokemon.caught) }
				li(out:slide="{ {} }"): CaughtPokemonSummary({ caughtPokemon })
				| {/each}
</template>

<script lang="ts">
	import CaughtPokemonSummary from '~/components/caught-pokemon-summary.component.svelte';
	import { dashToCaps } from '~/utilities/string.utilities';
	import DefaultLayout from '~/layouts/default.layout.svelte';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import type { ICaughtPokemon } from '~/models/caught-pokemon.model';
	import { onMount } from 'svelte';
	import { slide } from 'svelte/transition';
	import { userStore } from '~/stores/user.store';
	import versionRepository from '~/services/repositories/version.repository';
	import type {
		IVersion
	} from 'pokeapi-typescript';

	// Store Data
	const {
		user: {
			language: userLanguage,
			pokemon: caughtPokemon,
			version: userVersion
		}
	} = userStore;

	// Data
	let thisVersionPokemon: ICaughtPokemon[] = [];
	let otherVersionPokemon: ICaughtPokemon[] = [];
	let version: IVersion|null = null;
	let versionDisplayName: string = '';

	// Methods
	const populateVersion = async (name: string): Promise<void> => {
		version = await versionRepository.get(name);
	};

	// Reactive Data
	$: thisVersionPokemon = $caughtPokemon.filter(({ version }) => version === $userVersion.name);
	$: otherVersionPokemon = $caughtPokemon.filter(({ version }) => version !== $userVersion.name);
	$: populateVersion($userVersion.name);
	$: if (version) versionDisplayName = getLocalizedName(version.names, $userLanguage) || dashToCaps(version.name);
</script>

<style lang="scss">
	div.summary-stats {
		span.collection-count {
			font-size: 1.3em;
			font-style: italic;
			padding: 0 0.25em;
			border-bottom: 0.0625em solid currentColor;
		}

	}

	div.collection {
		margin-bottom: 3rem;

		&:last-of-type { margin-bottom: 0; }

		ul.pokemon-list {
			list-style-type: none;
			padding: 0;
	
			li {
				margin-bottom: 1rem;
	
				&:last-of-type { margin-bottom: 0; }
			}
		}
	}
</style>
