<template lang="pug">
	DefaultLayout: article
		| {#await regionPromise}
		p Loading...
		| {:then region}
		h1 The { getLocalizedName(region.names, $userLanguage) } Region
		| {:catch error}
		p { error.message }
		| {/await}
		| {#await locationPromise}
		p Loading...
		| {:then location}
		Level(align="space-between")
			h2 Location: { getLocalizedName(location.names, $userLanguage) }
			div.button-container: IconButton(on:click="{ displayFilterControls }"): Funnel
		LocationAreaListComponent({ locationAreaNames })
		| {:catch error}
		p { error.message }
		| {/await}
</template>

<script lang="ts">
	import DefaultLayout from '~/layouts/default.layout.svelte';
	import EncounterFilterControl from '~/components/encounter-filter-control.component.svelte';
	import Funnel from 'phosphor-svelte/lib/Funnel';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import IconButton from '~/components/form/icon-button.component.svelte';
	import Level from '~/components/layout/level.component.svelte';
	import LocationAreaListComponent from '~/components/location-area-list.component.svelte';
	import locationRepository from '~/services/repositories/location.repository';
	import regionRepository from '~/services/repositories/region.repository';
	import { uiStore } from '~/stores/ui.store';
	import { userStore } from '~/stores/user.store';
	import {
		onDestroy,
		onMount
	} from 'svelte';

	// Props
	export let regionName: string;
	export let locationName: string;

	// Stored Values
	const {
		user: {
			language: userLanguage
		}
	} = userStore;

	// Data
	const regionPromise = regionRepository.get(regionName);
	const locationPromise = locationRepository.get(locationName);
	let locationAreaNames: string[] = [];

	// Methods
	const displayFilterControls = (): void => {
		uiStore.displayModal(EncounterFilterControl);
	};

	// Lifecycle Hooks
	onMount(async () => {
		const location = await locationPromise;
		userStore.user.currentLocation.set(location);

		locationAreaNames = location.areas.map(({ name }) => name);
	});

	onDestroy(() => {
		userStore.user.currentLocation.set(null);
	});
</script>

<style lang="scss">
	div.button-container {
		font-size: 2em;
	}
</style>
