<template lang="pug">
	DefaultLayout: article
		h1 Pokédex
		Card: form.dex-selector
			Select(name="Select a Pokédex", bind:value="{ selectedPokedexName }", bind:options="{ pokedexOptions }")
		| {#if selectedPokedex}
		h2 { selectedPokedexDisplayName } Dex
		ul.pokemon-list
			| {#each pokemonEntries as pokemonEntry (`${selectedPokedexName}-${pokemonEntry.entry_number}`)}
			li: PokemonEntry({ pokemonEntry })
			| {/each}
		| {/if}
</template>

<script lang="ts">
	import Card from '~/components/layout/card.component.svelte';
	import { dashToCaps } from '~/utilities/string.utilities';
	import DefaultLayout from '~/layouts/default.layout.svelte';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import type { IOption } from '~/models/option.model';
	import Level from '~/components/layout/level.component.svelte';
	import { NATIONAL_DEX_NAME } from '~/app.config';
	import { onMount } from 'svelte';
	import PokemonEntry from '~/components/pokemon-entry.component.svelte';
	import pokedexRepository from '~/services/repositories/pokedex.repository';
	import Select from '~/components/form/select.component.svelte';
	import { userStore } from '~/stores/user.store';
	import type {
		ILanguage,
		IName,
		IPokedex,
		IPokemonEntry,
		IPokemonSpecies
	} from 'pokeapi-typescript';

	// Store Data
	const {
		user: {
			language: userLanguage,
			versionGroup: userVersionGroup
		}
	} = userStore;

	// Data
	let selectedPokedexName = $userVersionGroup ? $userVersionGroup.pokedexes[0].name : '';
	let selectedPokedex: IPokedex|undefined;
	let selectedPokedexDisplayName = '';
	let nationalDex: IPokedex;
	let regionalDexes: IPokedex[] = [];
	let pokedexOptions: IOption[] = [];
	let pokemonEntries: IPokemonEntry[] = [];

	// Methods
	const displayName = (name: string, names: IName[], language: ILanguage): string => {
		const localizedName = getLocalizedName(names, language);

		if (localizedName) return localizedName;

		return dashToCaps(name);
	};

	const fetchNationalDex = async () => {
		nationalDex = await pokedexRepository.get(NATIONAL_DEX_NAME);
	};

	const fetchRegionalDexes = async () => {
		const regionalDexNames = $userVersionGroup?.pokedexes.map(({ name }) => name);

		regionalDexes = await pokedexRepository.getAll(...regionalDexNames);
	};

	// Reactive Hooks
	$: if ($userVersionGroup) fetchRegionalDexes();

	$: {
		if (nationalDex) pokedexOptions = [nationalDex, ...regionalDexes]
			.map(({ name, names }) => {
				const label = displayName(name, names, $userLanguage);
				
				return { label, value: name };
			});
	}

	$: if (nationalDex) selectedPokedex = [nationalDex, ...regionalDexes].find(({ name }) => name === selectedPokedexName);

	$: {
		if (selectedPokedex) {
			const {
				pokemon_entries,
				name,
				names
			} = selectedPokedex;

			pokemonEntries = [...pokemon_entries];
			selectedPokedexDisplayName = displayName(name, names, $userLanguage);
		}
	}

	// Lifcycle Hooks
	onMount(async () => {
		nationalDex = await pokedexRepository.get(NATIONAL_DEX_NAME);
	});
</script>

<style lang="scss">
	form.dex-selector { padding: 1rem; }

	ul.pokemon-list {
		list-style-type: none;
		padding: 0;

		li {
			margin-bottom: 1rem;

			&:last-of-type { margin-bottom: 0; }
		}
	}
</style>
