<template lang="pug">
	DefaultLayout: article
		h1 Regions
		| {#await regionsPromise}
		p Loading...
		| {:then}
		| {#if regions.length > 0}
		ul.region-list
			| {#each regions as region (region.name)}
			li: Link(to="/regions/{ region.name }"): RegionSummary({ region })
			| {/each}
		| {:else}
		p None Found!
		| {/if}
		| {:catch error}
		p Error: { error.message }
		| {/await}
</template>

<script lang="ts">
	import CardComponent from '~/components/layout/card.component.svelte';
	import DefaultLayout from '~/layouts/default.layout.svelte';
	import type { IRegion } from 'pokeapi-typescript';
	import { Link } from 'svelte-routing';
	import regionRepository from '~/services/repositories/region.repository';
	import RegionSummary from '~/components/region-summary.component.svelte';
	import { userStore } from '~/stores/user.store';

	// Store Data
	const {
		user: {
			language: userLanguage,
			versionGroup: userVersionGroup
		}
	} = userStore;

	// Data
	let regionsPromise: Promise<IRegion[]>;
	let rawRegions: IRegion[] = [];
	let regions: IRegion[] = [];
	let regionNames: string[] = [];

	$: regionNames = $userVersionGroup.regions.map(({ name }) => name);

	$: regionsPromise = regionRepository.getAll(...regionNames);

	$: {
		(async () => {
			rawRegions = await regionsPromise;
		})();
	}

	$: {
		regions = rawRegions
			.sort(({ id: idA }, { id: idB }) => {
				if (idA > idB) return 1;
				if (idA < idB) return -1;

				return 0;
			});
	}
</script>

<style lang="scss">
	ul.region-list {
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		li {
			max-width: calc(1024rem / 14);
			flex-grow: 1;
			flex-basis: 30rem;
		}
	}
</style>
