<template lang="pug">
	DefaultLayout: article
		| {#await regionPromise}
		p Loading...
		| {:then region}
		h1 The { regionDisplayName } Region
		div.locations-container
			h2 Locations
			| {#await locationsPromise}
			p Loading...
			| {:then}
			| {#if locations.length > 0}
			ul.location-list
				| {#each locations as location (location.name)}
				li: Link(to="/regions/{ regionName }/{ location.name }"): LocationSummary({ location })
				| {/each}
			| {:else}
			p Hmm, it doesn't look like there are any locations in this region.
			p Perhaps the archives are incomplete?
			| {/if}
			| {:catch error}
			p { error.message }
			| {/await}
		| {:catch error}
		p { error.message }
		| {/await}
</template>

<script lang="ts">
	import DefaultLayout from '~/layouts/default.layout.svelte';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import { Link } from 'svelte-routing';
	import locationRepository from '~/services/repositories/location.repository';
	import LocationSummary from '~/components/location-summary.component.svelte';
	import { onMount } from 'svelte';
	import regionRepository from '~/services/repositories/region.repository';
	import { userStore } from '~/stores/user.store';
	import type {
		ILocation,
		IRegion
	} from 'pokeapi-typescript';

	// Props
	export let regionName: string;

	// Store Data
	const {
		user: { language: userLanguage }
	} = userStore;

	// Data
	const regionPromise = regionRepository.get(regionName);
	const locationsPromise = regionPromise.then(({ locations }) => {
		const locationNames = locations.map(({ name }) => name);

		if (locationNames.length > 0) return locationRepository.getAll(...locationNames);

		return [];
	});

	// Lifecycle Hooks
	let rawLocations: ILocation[] = [];
	let locations: ILocation[] = [];
	let region: IRegion;

	onMount(async () => {
		region = await regionPromise;
		rawLocations = await locationsPromise;
	});

	// Reactive Data
	let regionDisplayName = '';
	$: if (region) regionDisplayName = getLocalizedName(region.names, $userLanguage.name);

	$: {
		locations = rawLocations.sort(({ names: aNames }, { names: bNames }) => {
			const aName = getLocalizedName(aNames, $userLanguage.name);
			const bName = getLocalizedName(bNames, $userLanguage.name);

			return aName.localeCompare(bName, undefined, { numeric: true });
		});
	}
</script>

<style lang="scss">
	ul.location-list {
		list-style-type: none;
		padding: 0;

		li {
			margin-bottom: 1rem;

			&:last-of-type { margin-bottom: 0; }

			:global(a) {
				color: var(--color-bg);
			}
		}
	}
</style>
