// Default Colors
$color-darkest: #303030;
$color-dark: #555;
$color-medium: #808080;
$color-light: #b6b6b6;
$color-lightest: #ececec;

// Version Colors
$color-version-red: #d90501;
$color-version-red-accent: #255c99;
$color-version-red-success: #679436;
$color-version-red-warn: #ff6857;
$color-version-red-danger: #3c0919;

$color-version-blue: #0b187b;
$color-version-blue-accent: #ff6663;
$color-version-blue-success: #034732;
$color-version-blue-warn: #fffd82;
$color-version-blue-danger: #813405;

$color-version-yellow: #f7e606;
$color-version-yellow-accent: #576490;
$color-version-yellow-success: #417b5a;
$color-version-yellow-warn: #f1ab86;
$color-version-yellow-danger: #6e0d25;

$color-version-gold: #ddb01c;
$color-version-gold-accent: #bfd1e5;
$color-version-gold-success: #47a025;
$color-version-gold-warn: #f78764;
$color-version-gold-danger: #6b0504;

$color-version-silver: #76a2b1;
$color-version-silver-accent: #011936;
$color-version-silver-success: #50723c;
$color-version-silver-warn: #c3d350;
$color-version-silver-danger: #a72608;

$color-version-crystal: #9e87bf;
$color-version-crystal-accent: #473335;
$color-version-crystal-success: #436436;
$color-version-crystal-warn: #fde74c;
$color-version-crystal-danger: #e3655b;

$color-version-ruby: #e00e1c;
$color-version-ruby-accent: #27474e;
$color-version-ruby-success: #0cc86b;
$color-version-ruby-warn: #f4ac45;
$color-version-ruby-danger: #3d0814;

$color-version-sapphire: #1422d3;
$color-version-sapphire-accent: #c6878f;
$color-version-sapphire-success: #4f5d2f;
$color-version-sapphire-warn: #eec643;
$color-version-sapphire-danger: #6e0e0a;

$color-version-emerald: #248765;
$color-version-emerald-accent: #26547c;
$color-version-emerald-success: #144909;
$color-version-emerald-warn: #ffd166;
$color-version-emerald-danger: #ef476f;

$color-version-firered: #841807;
$color-version-firered-accent: #1a1423;
$color-version-firered-success: #3c5233;
$color-version-firered-warn: #f7f052;
$color-version-firered-danger: #fe5f55;

$color-version-leafgreen: #d6f235;
$color-version-leafgreen-accent: #8ac6d0;
$color-version-leafgreen-success: #29524a;
$color-version-leafgreen-warn: #fcaf58;
$color-version-leafgreen-danger: #fe4a49;

$color-version-diamond: #747d81;
$color-version-diamond-accent: #2d232e;
$color-version-diamond-success: #8fb339;
$color-version-diamond-warn: #faa916;
$color-version-diamond-danger: #af3800;

$color-version-pearl: #e9e5eb;
$color-version-pearl-accent: #59c3c3;
$color-version-pearl-success: #519e8a;
$color-version-pearl-warn: #fcd757;
$color-version-pearl-danger: #ee6c4d;

$color-version-platinum: #7a7780;
$color-version-platinum-accent: #473bf0;
$color-version-platinum-success: #00a676;
$color-version-platinum-warn: #f6f740;
$color-version-platinum-danger: #601700;

$color-version-heartgold: #a79e63;
$color-version-heartgold-accent: #6b7fd7;
$color-version-heartgold-success: #33673b;
$color-version-heartgold-warn: #f78154;
$color-version-heartgold-danger: #ab2346;

$color-version-soulsilver: #bec8d7;
$color-version-soulsilver-accent: #ada46f;
$color-version-soulsilver-success: #3f612d;
$color-version-soulsilver-warn: #ffbc42;
$color-version-soulsilver-danger: #ff5e5b;

$color-version-black: #080809;
$color-version-black-accent: #ae8ca3;
$color-version-black-success: #7b904b;
$color-version-black-warn: #ffb20f;
$color-version-black-danger: #c44900;

$color-version-white: #fbfcfc;
$color-version-white-accent: #c792df;
$color-version-white-success: #6da34d;
$color-version-white-warn: #f3a712;
$color-version-white-danger: #ff3c38;

$color-version-black-2: #06080a;
$color-version-black-2-accent: #9c7a97;
$color-version-black-2-success: #87a878;
$color-version-black-2-warn: #ffa630;
$color-version-black-2-danger: #e3170a;

$color-version-white-2: #f8f6f0;
$color-version-white-2-accent: #baa5ff;
$color-version-white-2-success: #679436;
$color-version-white-2-warn: #f0a202;
$color-version-white-2-danger: #cd533b;

$color-version-x: #275085;
$color-version-x-accent: #3d0814;
$color-version-x-success: #22aaa1;
$color-version-x-warn: #e7f9a9;
$color-version-x-danger: #e5446d;

$color-version-y: #e22019;
$color-version-y-accent: #3a405a;
$color-version-y-success: #04a777;
$color-version-y-warn: #dbd053;
$color-version-y-danger: #eb6f78;

$color-version-omega-ruby: #f3210b;
$color-version-omega-ruby-accent: #495867;
$color-version-omega-ruby-success: #00a878;
$color-version-omega-ruby-warn: #f3a712;
$color-version-omega-ruby-danger: #582630;

$color-version-alpha-sapphire: #082a87;
$color-version-alpha-sapphire-accent: #c2095a;
$color-version-alpha-sapphire-success: #698f3f;
$color-version-alpha-sapphire-warn: #feb95f;
$color-version-alpha-sapphire-danger: #f71735;

$color-version-sun: #f63d06;
$color-version-sun-accent: #334e58;
$color-version-sun-success: #169873;
$color-version-sun-warn: #f3ca40;
$color-version-sun-danger: #6b0504;

$color-version-moon: #3d1f94;
$color-version-moon-accent: #7d6167;
$color-version-moon-success: #21a179;
$color-version-moon-warn: #ddfc74;
$color-version-moon-danger: #fc7753;

$color-version-ultra-sun: #fb8c1b;
$color-version-ultra-sun-accent: #4ecdc4;
$color-version-ultra-sun-success: #306b34;
$color-version-ultra-sun-warn: #f7f052;
$color-version-ultra-sun-danger: #8e443d;

$color-version-ultra-moon: #933ea8;
$color-version-ultra-moon-accent: #4ba3c3;
$color-version-ultra-moon-success: #4c8577;
$color-version-ultra-moon-warn: #e5c687;
$color-version-ultra-moon-danger: #e16f7c;

$color-version-lets-go-pikachu: #fce016;
$color-version-lets-go-pikachu-accent: #256eff;
$color-version-lets-go-pikachu-success: #2a9d8f;
$color-version-lets-go-pikachu-warn: #ddc403;
$color-version-lets-go-pikachu-danger: #e26d5a;

$color-version-lets-go-eevee: #efaf34;
$color-version-lets-go-eevee-accent: #aa9aba;
$color-version-lets-go-eevee-success: #3a7d44;
$color-version-lets-go-eevee-warn: #cbff4d;
$color-version-lets-go-eevee-danger: #cd533b;

$color-version-sword: #0aa2ea;
$color-version-sword-accent: #8e4162;
$color-version-sword-success: #16c172;
$color-version-sword-warn: #fffd82;
$color-version-sword-danger: #ef8354;

$color-version-shield: #ee6a7d;
$color-version-shield-accent: #347fc4;
$color-version-shield-success: #7a9b76;
$color-version-shield-warn: #ffc857;
$color-version-shield-danger: #5e0b15;

$color-version-colosseum: #e10a0c;
$color-version-colosseum-accent: #7a2552;
$color-version-colosseum-success: #2e5339;
$color-version-colosseum-warn: #e4ff1a;
$color-version-colosseum-danger: #3e000c;

$color-version-xd: #0c094b;
$color-version-xd-accent: #846a6a;
$color-version-xd-success: #417b5a;
$color-version-xd-warn: #eec170;
$color-version-xd-danger: #95190c;
