<template lang="pug">
	Card: div.caught-pokemon-summary-container(use:inview="{ {} }", on:change="{ inviewHandler }")
		| {#if loading}
		p.loading Loading...
		| {:else}
		p.heading { pokemonSpeciesDisplayName }
		div.sprite-container: img(src="{ pokemon.sprites.front_default }", alt="{ pokemonSpeciesDisplayName }")
		| {#if includeVersion}
		p.version Pokémon { versionDisplayName }
		| {/if}
		| {#if location}
		p.location { locationDisplayName }
		| {/if}
		div.capture-controls-container
			Button(on:click="{ releasePokemon }", type="warn") Release
			//- Button Transfer
		| {/if}
</template>

<script lang="ts">
	import Button from '~/components/form/button.component.svelte';
	import Card from '~/components/layout/card.component.svelte';
	import { dashToCaps } from '~/utilities/string.utilities';
	import debounce from 'debounce';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import type { ICaughtPokemon } from '~/models/caught-pokemon.model';
	import { inview } from 'svelte-inview/dist/index.mjs';
	import type { InviewEvent } from '~/models/inview-event.model';
	import locationRepository from '~/services/repositories/location.repository';
	import pokemonRepository from '~/services/repositories/pokemon.repository';
	import pokemonSpeciesRepository from '~/services/repositories/pokemon-species.repository';
	import { time } from '~/utilities/time.utility';
	import { userStore } from '~/stores/user.store';
	import versionRepository from '~/services/repositories/version.repository';
	import type {
		ILocation,
		IPokemon,
		IPokemonSpecies,
		IVersion
	} from 'pokeapi-typescript';

	// Props
	export let caughtPokemon: ICaughtPokemon;
	export let includeVersion: boolean = true;

	// Store Data
	const {
		user: { language: userLanguage }
	} = userStore;

	// Data
	let isInView = false;
	let loading = true;
	let location: ILocation;
	let locationDisplayName = 'Unknown';
	let pokemon: IPokemon;
	let pokemonSpecies: IPokemonSpecies;
	let pokemonSpeciesDisplayName = 'Unknown';
	let version: IVersion;
	let versionDisplayName = 'Unknown';

	// Methods
	const inviewHandler = debounce(({ detail: { inView } }: InviewEvent): void => {
		if (inView) isInView = inView;
	}, time(200).milliseconds);

	const onInView = async (): Promise<void> => {
		if (caughtPokemon.location) location = await locationRepository.get(caughtPokemon.location);
		pokemon = await pokemonRepository.get(caughtPokemon.pokemon);
		pokemonSpecies = await pokemonSpeciesRepository.get(pokemon.species.name);
		version = await versionRepository.get(caughtPokemon.version);
		loading = false;
	};

	const releasePokemon = (): void => userStore.releasePokemon(caughtPokemon.pokemon, caughtPokemon.version);

	// Reactive Hooks
	$: if (isInView) onInView();
	$: if (pokemonSpecies) pokemonSpeciesDisplayName = getLocalizedName(pokemonSpecies.names, $userLanguage) || dashToCaps(pokemonSpecies.name);
	$: if (version) versionDisplayName = getLocalizedName(version.names, $userLanguage) || dashToCaps(version.name);
	$: if (location) locationDisplayName = getLocalizedName(location.names, $userLanguage) || dashToCaps(location.name);
</script>

<style lang="scss">
	div.caught-pokemon-summary-container {
		padding: 1rem;
		min-height: 16rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		p.version,
		p.location {
			margin: 0;

			&:last-of-type { margin-bottom: 1em; }
		}

		div.capture-controls-container {
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 1rem;

			:global(button) {
				flex-grow: 1;
			}
		}
	}
</style>
