<template lang="pug">
	div.encounter-condition-value-detail
		| {#if loading}
		p.loading Loading...
		| {:else}
		p { displayName }
		| {/if}
</template>

<script lang="ts">
	import { dashToCaps } from '~/utilities/string.utilities';
	import encounterConditionValueRepository from '~/services/repositories/encounter-condition-value.repository';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import type { IEncounterConditionValue } from 'pokeapi-typescript';
	import { onMount } from 'svelte';
	import { userStore } from '~/stores/user.store';

	// Props
	export let name: string;

	// Store Data
	const {
		user: { language: userLanguage }
	} = userStore;

	// Data
	let loading = true;
	let encounterConditionValue: IEncounterConditionValue;
	let displayName = dashToCaps(name);

	// Reactive Hooks
	$: if (encounterConditionValue) displayName = getLocalizedName(encounterConditionValue.names, $userLanguage) || dashToCaps(name);

	// Lifecycle Hooks
	onMount(async () => {
		encounterConditionValue = await encounterConditionValueRepository.get(name);

		loading = false;
	});
</script>

<style lang="scss">
	div.encounter-condition-value-detail {
		p { margin: 0; }
	}
</style>
