<template lang="pug">
	div.encounter-details-list-container
		table
			caption Encounters
			thead: tr
				th.method Method
				th.conditions Conditions
				th.chance Chance
			tbody
				| {#each filteredEncounterDetails as encounterDetails}
				EncounterDetailsComponent({ encounterDetails })
				| {/each}
</template>

<script lang="ts">
	import { byUnique } from '~/utilities/array/filter.utilities';
	import type { EncounterDetail } from '~/models/pokeapi/encounter-detail.type';
	import EncounterDetailsComponent from '~/components/encounter-details.component.svelte';
	import type { Immutable } from '~/models/immutable.type';
	import { uiStore } from '~/stores/ui.store';

	// Props
	export let encounterDetailsList: EncounterDetail[];

	// Store Data
	const {
		ui: {
			encounters: {
				filterConditions,
				filterMethods
			}
		}
	} = uiStore;

	// Data
	let filteredEncounterDetails: EncounterDetail[] = [];

	// Reactive Hooks
	$: {
		filteredEncounterDetails = encounterDetailsList
			.filter(details => {
				if (!$filterMethods.includes(details.method.name)) return false;
				if (!details.condition_values.every(({ name }) => $filterConditions.includes(name))) return false;

				return true;
			})
			.sort(({ chance: chanceA, chance: chanceB }) => {
				if (chanceA > chanceB) return 1;
				if (chanceA < chanceB) return -1;
	
				return 0;
			})
			.filter((encounterDetails: EncounterDetail, i: number, arr: EncounterDetail[]) => {
				const parentCvNames = encounterDetails.condition_values.map(({ name: cvName }) => cvName);
				const matchIndex = arr.findIndex(({ method: { name: methodName }, condition_values: conditionValues }) => {
					if (methodName !== encounterDetails.method.name) return false;
					if (conditionValues.length !== encounterDetails.condition_values.length) return false;
	
					const allCvsMatch = conditionValues.every(({ name }) => parentCvNames.includes(name));
	
					return allCvsMatch;
				});
	
				return matchIndex === i;
			});
	}
</script>

<style lang="scss">
	div.encounter-details-list-container {
		table {
			--border-style: 0.0625rem solid var(--color-dark);

			width: 100%;
			font-size: 0.8em;

			caption {
				text-align: left;
				font-weight: 500;
				border-bottom: var(--border-style);
			}

			thead {
				border-bottom: var(--border-style);

				tr th {
					font-weight: 300;
					font-size: 0.8em;

					&.conditions,
					&.chance { text-align: center; }

					&.chance {
						width: 7ch;
					}
				}
			}
		}
	}
</style>
