<template lang="pug">
	tr.encounter-details
		| {#if loading}
		td(colspan="3"): p.loading Loading...
		| {:else}
		td.method { encounterMethodName }
		td.conditions
			| {#if encounterDetails.condition_values.length > 0}
			ul.condition-value-list
				| {#each encounterDetails.condition_values as cv}
				li: ConditionValueDetail(name="{ cv.name }")
				| {/each}
			| {:else}
			p.centered -
			| {/if}
		td.chance { encounterDetails.chance}%
		| {/if}
</template>

<script lang="ts">
	import ConditionValueDetail from '~/components/condition-value-detail.component.svelte';
	import { dashToCaps } from '~/utilities/string.utilities';
	import type { EncounterDetail } from '~/models/pokeapi/encounter-detail.type';
	import encounterMethodRepository from '~/services/repositories/encounter-method.repository';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import { onMount } from 'svelte';
	import { userStore } from '~/stores/user.store';
	import type {
		IEncounterMethod,
		ILanguage,
		IName
	} from 'pokeapi-typescript';

	// Store Data
	const {
		user: {
			language: userLanguage
		}
	} = userStore;

	// Props
	export let encounterDetails: EncounterDetail;

	// Data
	let loading = true;
	let encounterMethod: IEncounterMethod|null = null;

	// Computed
	let encounterMethodName = dashToCaps(encounterDetails.method.name);

	// Methods
	const displayName = (name: string, names: IName[], language: ILanguage): string => {
		const localizedName = getLocalizedName(names, language);

		if (localizedName) return localizedName;

		return dashToCaps(name);
	};

	// Lifecycle Hooks
	onMount(async () => {
		encounterMethod = await encounterMethodRepository.get(encounterDetails.method.name);

		loading = false;
	});

	// Reactive Hooks
	$: if (encounterMethod) encounterMethodName = displayName(encounterMethod.name, encounterMethod.names, $userLanguage);
</script>

<style lang="scss">
	tr {
		td {
			padding-top: 1em;
			padding-right: 0.5em;
			vertical-align: top;

			&:last-of-type { padding-right: 0; }

			&.conditions,
			&.chance { text-align: center; }

			&.conditions p { margin: 0; }

			ul.condition-value-list {
				list-style-type: none;
				padding: 0;
			}
		}

		&:first-of-type td { padding-top: 0; }
	}
</style>
