<template lang="pug">
	div.location-areas-list-container
		| {#await locationAreasPromise}
		p Loading...
		| {:then locationAreas}
		| {#if locationAreas.length > 0}
		ul.location-areas-list
			| {#each locationAreas as locationArea}
			li: LocationAreaDetailComponent({ locationArea })
			| {/each}
		| {:else}
		p This location has no visitable areas in the game you're currently playing.
		| {/if}
		| {:catch error}
		p { error.message }
		| {/await}
</template>

<script lang="ts">
	import type { ILocationArea } from 'pokeapi-typescript';
	import LocationAreaDetailComponent from '~/components/location-area-detail.component.svelte';
	import locationAreaRepository from '~/services/repositories/location-area.repository';
	import { hasEncounterInVersion } from '~/utilities/pokeapi/has-encounter-in-version.utility';
	import { userStore } from '~/stores/user.store';

	// Props
	export let locationAreaNames: string[];

	// Store Data
	const {
		user: {
			version: userVersion
		}
	} = userStore;

	// Methods
	const getLocationAreas = async (...names: string[]) => {
		let allAreas: ILocationArea[] = [];

		if (names.length > 0) allAreas = await locationAreaRepository.getAll(...names);

		return allAreas
			.filter(area => hasEncounterInVersion(area, $userVersion.name))
			.sort(({ id: idA }, { id: idB }) => {
				if (idA > idB) return 1;
				if (idA < idB) return -1;

				return 0;
			});
	};

	// Reactive Data
	let locationAreasPromise: Promise<ILocationArea[]>;
	$: locationAreasPromise = getLocationAreas(...locationAreaNames);
</script>

<style lang="scss">
	div.location-areas-list-container {
		ul.location-areas-list {
			padding: 0;
			list-style-type: none;

			li {
				margin-bottom: 3rem;

				&:last-of-type { margin-bottom: 0; }
			}
		}
	}
</style>
