<template lang="pug">
	Card: div.region-summary-container
		img(src="/images/regions/{ region.name }.png", alt="{ displayName } Region Map")
		div.details
			p.name { displayName }
</template>

<script lang="ts">
	import Card from '~/components/layout/card.component.svelte';
	import { dashToCaps } from '~/utilities/string.utilities';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import type { IRegion } from 'pokeapi-typescript';
	import { userStore } from '~/stores/user.store';

	// Props
	export let region: IRegion;

	// Store Data
	const {
		user: { language: userLanguage }
	} = userStore;

	// Reactive Data
	let displayName: string;
	$: displayName = getLocalizedName(region.names, $userLanguage) || dashToCaps(region.name);
</script>

<style lang="scss">
	div.region-summary-container {
		max-width: calc(1024rem / 14);
				
		div.details {
			padding: 1rem;
	
			p.name {
				margin: 0;
				font-size: 1.2em;
				font-weight: 600;
			}
		}
	}
</style>
