<template lang="pug">
	svelte:window(on:click="{ windowClickHandler }")
	svelte:body(bind:this="{ body }")
	div.version-selector
		button.current-version(type="button", on:click="{ toggleMenu }", class:active="{ menuExpanded }", bind:this="{ menuButton }")
			span Pokémon { getDisplayName($userVersion.names, $userVersion.name) }
			CaretDown
		| {#if menuExpanded}
		ul.version-list(
			bind:this="{ menu }"
			class:active="{ menuExpanded }",
			transition:fade="{ transitionOptions }",
			use:styles="{ menuStyles }"
		)
			| {#each versions as version}
			li.version(on:click="{ selectVersion(version.name) }") { getDisplayName(version.names, version.name) }
			| {/each}
		| {/if}
</template>

<script lang="ts">
	import CaretDown from 'phosphor-svelte/lib/CaretDown';
	import { dashToCaps } from '~/utilities/string.utilities';
	import { fade } from 'svelte/transition';
	import { DEFAULT_ANIMATION_DURATION } from '~/app.config';
	import { getLocalizedName } from '~/utilities/pokeapi/get-localized-name.utility';
	import { onMount } from 'svelte';
	import { styles } from '~/utilities/actions/styles.action';
	import { targetWithinElement } from '~/utilities/element.utilities';
	import { userStore } from '~/stores/user.store';
	import versionRepository from '~/services/repositories/version.repository';
	import type {
		IName,
		IVersion
	} from 'pokeapi-typescript';

	// Store Data
	const {
		user: {
			language: userLanguage,
			version: userVersion
		}
	} = userStore;

	// Data
	let body: HTMLBodyElement;
	let menu: HTMLUListElement;
	let menuExpanded = false;
	let menuButton: HTMLButtonElement;
	let menuStyles = {};

	const transitionOptions = {
		delay: 25,
		duration: DEFAULT_ANIMATION_DURATION * 0.75
	};

	// Methods
	const getDisplayName = (names: IName[], name: string): string => {
		const localizedName = getLocalizedName(names, $userLanguage);

		if (!localizedName) return dashToCaps(name);

		return localizedName;
	};

	const updateMenuStyles = (): void => {
		if (menuButton) menuStyles = { 'button-width': `${menuButton.clientWidth}px` };
	};

	const selectVersion = (versionName: string): void => {
		userStore.setVersion(versionName);
		menuExpanded = false;
	};

	const toggleMenu = (): void => {
		if (!menuExpanded) updateMenuStyles();
		menuExpanded = !menuExpanded;
	};

	const windowClickHandler = ({ target }: MouseEvent): void => {
		if (target === null) return;
		if (!menuExpanded) return;
		if (targetWithinElement(target, menu)) return;
		if (targetWithinElement(target, menuButton)) return;

		toggleMenu();
	};

	// Reactive Hooks
	$: if (body) menuExpanded ? body.classList.add('locked') : body.classList.remove('locked');

	// Lifecycle Hooks
	let versions: IVersion[] = [];

	onMount(async () => {
		const unsortedVersions = await versionRepository.getAll();

		versions = unsortedVersions
			.sort(({ id: idA }, { id: idB }) => {
				if (idA > idB) return 1;
				if (idA < idB) return -1;

				return 0;
			});

		updateMenuStyles();
	});
</script>

<style lang="scss">
	div.version-selector {
		display: inline-block;
		font-size: 1.1rem;

		button.current-version,
		ul.version-list {
			--padding: 0.5em;
			--border: 0.125em solid currentColor;

			border-radius: 0.5em;
			cursor: pointer;
		}

		button.current-version {
			border: var(--border);
			border-color: var(--color-fg);
			padding: var(--padding);
			transition: background-color var(--default-animation-duration) linear;
			will-change: background-color;
			background-color: var(--color-theme);
			display: inline-block;

			&:hover,
			&:active,
			&.active {
				background-color: var(--color-fg);
				color: var(--color-bg);
			}

			:global svg {
				margin-left: var(--padding);
			}
		}

		ul.version-list {
			--button-width: 13rem;

			background-color: var(--color-fg);
			color: var(--color-bg);
			list-style-type: none;
			padding: 0;
			margin: 0;
			margin-top: 1em;
			max-height: 65vh;
			overflow: auto;
			border: var(--border);
			border-color: var(--color-fg);
			position: absolute;
			top: 3.5rem;
			left: 1rem;
			width: var(--button-width);
			box-shadow: 0 1.4rem 2.7rem rgba(0,0,0,0.30), 0 1rem 0.9rem rgba(0,0,0,0.22);

			li {
				padding: 1em var(--padding);
				border-bottom: 0.125rem solid var(--color-bg);
				
				&:hover {
					background-color: var(--color-bg);
					color: var(--color-fg);
				}

				&:last-of-type { border-bottom: none; }
			}
		}
	}
</style>
