<template lang="pug">
	| {#if !hideHeader}
	HeaderComponent(bind:element="{ header }")
	| {/if}
	main(use:styles="{ mainStyles }"): slot
	NavComponent(bind:element="{ nav }")
</template>

<script lang="ts">
	import HeaderComponent from '~/components/layout/header.component.svelte';
	import NavComponent from '~/components/layout/nav.component.svelte';
	import { styles } from '~/utilities/actions/styles.action';
	import { userStore } from '~/stores/user.store';

	// Props
	export let hideHeader: boolean = false;

	// Reactive Data
	let header: HTMLDivElement;
	let nav: HTMLDivElement;
	let mainStyles = {};
	$: {
		const styles: Record<string, string> = {};

		if (header) styles['header-height'] = `${header.offsetHeight}px`;
		if (nav) styles['nav-height'] = `${nav.offsetHeight}px`;

		mainStyles = styles;
	}
</script>

<style lang="scss">
	main {
		padding-top: var(--header-height);
		padding-bottom: var(--nav-height);
	}
</style>
